
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>servlet.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AnnouncementServlet</servlet-name>
        <servlet-class>servlet.AnnouncementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnnouncementServlet</servlet-name>
        <url-pattern>/ann</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadingServlet</servlet-name>
        <servlet-class>servlet.LoadingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadingServlet</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAnnServlet</servlet-name>
        <servlet-class>servlet.ShowAnnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAnnServlet</servlet-name>
        <url-pattern>/showAnn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FilterFindServlet</servlet-name>
        <servlet-class>servlet.FilterFindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilterFindServlet</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowImageServlet</servlet-name>
        <servlet-class>servlet.ShowImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowImageServlet</servlet-name>
        <url-pattern>/showImg</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>servlet.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

</web-app>
